extends layout

block content
    br
    h1 FAQs:
    ul
        li Q: How long will the rafting trip be?
        li A: 90 Minutes for all river sports.  The course will be nominally 400m/yrds
        br
        li Q: How long is the surfing session?
        li A: Surfing sessions are 1 hr with rides about 12sec
        br
        li Q: Do I have to pay to just watch?
        li A: No, admission is free
        br
        li Q: How much water does the facility?  
        li A:  The river and wave pool is about 14m gallons each with about the same in evaporation annually
        br
        li Q: California is commonly in a drought, is this a good use of water?
        li A: This will use about 10% that of a golf course.  There are hundreds of thousands users of the rivers each year when there is water.  This will help keep the outdoor loving public wet when we are in a drought.
        br
        li Q: How big will the whitewater be?  
        li A: It is adjustable from class II (easy) to class IV (competition level)
        br
        li Q: How big will the surf be?
        li A: The surf park will have adjustable wave heights.  Parts of the pool will be great for kids on boogie boards and some parts will be photo worthy barrel and aerial section.  Max heights with current wave technology is a bit over 2m/6ft
        br
        li Q:  I will have a group with mixed interest and skill levels; can we all go at the same time?  
        li A:  Different areas of the park will have different difficulties at different times.  Mountain biking can be easy or hard depending on your route (though the routes obstacles will change regularly), rock climbing will be the same.  
        br
        li Q: How big is the park?
        li A:  The whitewater park and surf park are both about 15 acres.  
