extends layout

block content
  div.videoMask.section1
    video#welcomeVideo(autoplay, loop, muted) Your Browser does not support the video tag
      source(src='/videos/rafting.mp4', type='video/mp4', alt= 'Welcome video.mp4')

  div.theGoodStuff
    div.mainContent.center
      
      div#lookingForARush.inner.black-back.section2
        h2.bannerT2.center LOOKING FOR A RUSH?
        div.flexRow.constrain
          div.flexHalf
            div.fittedText
              text ASR is a sporting complex and resort that takes thethrill of hallmark summer outdoor adventure sports and puts it conveniently located in your community.
            br
            div#ASRAerial.container
              image.img(src='/images/ASR_Aerial.jpg', alt= 'asr aerial.jpg')
              br
              text Our proposed location in Santa Clara county.
          div.flexHalf
            text.center FEATURES:
            ol.fittedText
              li A central recirculating whitewater park for rafting, kayaking, and whitewater SUP'ing.
              br
              li A surf park with waves ranging from family friendly boogie board size to 8 foot faces.
              br
              li Park facitilies including a climbing gym, a general fitness gym, equipment rental, and a mountain bike path.
              br
              li Accomodations include a resort area complete with a cafe, group hosting areas, and dining.
      
      div#banners.flexRow.center.constrain.section3
        a#getInvolved.banner.black-back(href="Get_Involved")
          image(src='/images/get_involved.jpg')
          div.block.fittedText
            text.subText Work or volunteer with us
            br
            text.bannerName GET INVOLVED
            br
            text.navArrow &gt;
        a#getStoked.banner.gray-back(href="Get_Stoked")
          image(src='/images/get_stoked.jpg')
          div.block.fittedText
            text.subText Learn more about our activities
            br
            text.bannerName GET STOKED
            br
            text.navArrow &gt;
        a#contactUs.banner.black-back(href="Contact_Us")
          image(src='/images/coolest_kid.jpg')
          div.block.fittedText
            text.subText Invest in our business
            br
            text.bannerName CONTACT US
            br
            text.navArrow &gt; 

      div#blogSlideshow.constrain.slideshow-container
        div.mySlides.fade
          div.numbertext 1/3
          image.img(src='/images/slideshow/olympic_trials.jpg')
          div.text.black-back Example of a reciculating whitewater park we plan to implement
        div.mySlides.fade
          div.numbertext 2/3
          image.img(src='images/slideshow/olympic_example.jpg')
          div.text.black-back Founder Bryant Grigsby at the Olympic canoeing team trials.
        div.mySlides.fade
          div.numbertext 3/3
          image.img(src='images/slideshow/resort_example.jpg')
          div.text.black-back Resort example, overlooking the river.
        
        a.prev(onclick= 'plusSlides(-1)') &#10094;
        a.next(onclick= 'plusSlides(1)') &#10095;

      div(text-align= center)
        span.dot(onclick= 'currentSlide(1)')
        span.dot(onclick= 'currentSlide(2)')
        span.dot(onclick= 'currentSlide(3)')