doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.topNav
        a(href='/')
          img(src='../public/images/ASR_Logo25.png' alt="ASR logo")
          text#homeNav Adrenaline Sports Resort
        
        div#navRoutes
          a(href="About Us") About Us
          a(href="FAQ") FAQ
          a(href="Invest") Invest
          a#GetStoked(href="Get Stoked") Get 
                                      | Stoked

    block content
  
