// All custom javascript/Jquery scripts go here
extends layout
append head
    script(src='/javascripts/setWelcomeVideoHeight.js', async)
    script(src='jquery.pagepiling.js', async)
    script(src='jquery.pagepiling.min.js', async)
    script. 
        $(document).ready(function() {
            $('#pagepiling').pagepiling({
                menu: '#menu',
                anchors: ['page1', 'page2'],
                sectionsColor: ['#bfda00', '#2ebe21', '#2C3E50'],
                loopTop: true,
                loopBottom: true
                });
        });

    script(src='/javascripts/jquery.fittext.js', async)

    // Delay after video ends
    script. 
        document.getElementById('welcomeVideo').addEventListener('ended',myHandler,false);
        function myHandler(e) {
            console.log('ended');
            setTimeout(function(){
                document.getElementById('myVideo').play();
            }, 5000);
        }