body {
  font: 14px "Dubai", Helvetica, Arial, sans-serif;
  margin: 0;
}
ul{
  list-style-type: none;
}

/* Styling for Top Navigation Bar*/
.topNav {
  position: fixed;
  width: 100%;
  background-color: black;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.topNav a{
  color: white;  
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
.topNav a#homeNav {
  padding-left: 8%;
  font: 20px 'Montalban';
}
.topNav #ASR_logo {
  height: 35px;
}
.topNav #ASR_text {
  vertical-align: 35%;
  padding-top: 0px;
  padding-left: 10px;
}
.topNav #navRoutes{
  padding-right: 3%;
  float: right;
}
.topNav #navRoutes a{
  padding-top: 6px;
  margin-right: 30px;
}
.topNav #navRoutes a#GetStoked {
  padding: 5px;
  padding-right: 10px;
  font: 18px 'Grand Sport';
  background-image: linear-gradient(#D91E36, #3C0101);
  border-radius: 2px;
  white-space: pre;
}

/* Block content styles */
.contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
}
.videoMask {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: -1;
  padding-top: getTopNavHeight()
}

/* Homepage specific styles */
#welcomeVideo{
  border-radius: 10px;
  width: 100%;
}

@font-face {
  font-family: "Grand Sport";
  src: url("fonts/grand_sport/grandsporthalfital.ttf") format("opentype");
}
@font-face {
  font-family: "Montalban";
  src: url("fonts/montalban/Montalban.ttf") format("opentype");
}