html,body {
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  font: 1.1rem "Dubai";
  margin: 0;
}
ul{
  list-style-type: none;
}

/* Styling for Top Navigation Bar*/
#topNav {
  position: fixed;
  width: 100%;
  background-color: #181b1e ;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 15px;
  z-index: 2;
}
#topNav a{
  color: white;  
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
#topNav a#homeNav {
  padding-left: 8%;
  font: 20px 'Montalban';
}
#topNav #ASR_logo {
  height: 35px;
}
#topNav #ASR_text {
  vertical-align: 35%;
  padding-top: 0px;
  padding-left: 10px;
}
#topNav #navRoutes{
  padding-right: 3%;
  float: right;
}
#topNav #navRoutes a{
  padding-top: 6px;
  margin-right: 30px;
}
#topNav #navRoutes a#BookNow {
  padding: 5px;
  padding-right: 15px;
  text-align: center;
  font: 18px 'Grand Sport';
  background-image: linear-gradient(#D91E36, #3C0101);
  border-radius: 2px;
  white-space: pre;
}

/* Block content styles */
.contentContainer {
  position: relative;
  overflow-y: scroll;
  height: 100vh;
  z-index: 3;
}
.videoMask {
  width: inherit;
  overflow: hidden;
  padding-top: 60px;
}
.theGoodStuff {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.bannerT1 {
  padding-left: 5%;
  font: 3rem "Grand Sport";
}
.bannerT2 {
  font: 2.5rem "Montalban";
  color: #D91E36;
}
.center {
  align-content: center;
  text-align: center;
  padding-right: 3vw;
}
.mainContent {
  overflow: hidden;
  margin-top: 10%;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.flexCol5050 {
  display: flex;
  flex-direction: row;
}
.flexHalf {
  flex: 0.5;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  justify-content: center;
  vertical-align: 50%;
  align-items: center;
}
.fittedText {
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-right: 8%;
}

/* Homepage specific styles */
#welcomeVideo{
  position: relative;
  overflow:hidden;
  width: 100%;
  height: 800px;
}
#lookingForARush {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #181b1e ;
  color: white;
}
#ASRAerial{
  margin-right: 0px;
  padding-top: 2%;
  width: 90%;
  border-radius: 10px;
  background-color: white;
  color: black;
}
#banners {
  background-color: white;
  color: black;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
}


@font-face {
  font-family: "Grand Sport";
  src: url("fonts/grand_sport/grandsporthalfital.ttf") format("opentype");
}
@font-face {
  font-family: "Montalban";
  src: url("fonts/montalban/Montalban.ttf") format("opentype");
}